<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DUO Eventos | Painel</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="css/login/all.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="css/admin/OverlayScrollbars.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="css/login/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="img/home/logo_white.png" alt="AdminLTE Logo" class="brand-image" style="opacity: .8">
      <span class="brand-text font-weight-light">Cliente</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block">
            <%= name %>
            <%= firstname %>
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/painel" class="nav-link">
                <i class="nav-icon fas">&#8863</i>
                <p>
                    Página inicial
                </p>
            </a>
          </li>
          <% if(admin){ %>
            <li class="nav-item">
                <a href="/admin" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Painel Administrador
                    </p>
                </a>
            </li>
          <% } %>
          <li class="nav-item">
            <a href="/my_datas" class="nav-link">
              <i class="nav-icon fas">&#164</i>
              <p>
                Meus dados
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/my_reservations" class="nav-link">
                <i class="nav-icon fas">📆</i>
                <p>
                    Minhas reservas
                </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Página inicial</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Minhas reservas</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <strong>&#8722</strong>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <% if(datas[0]){ %>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Data</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0;i<datas.length; i++){ %>
                          <tr>
                            <th scope="row"><%=datas[i].id %> </th>
                            <td><%=datas[i].type %></td>
                            <td><%=datas[i].date %></td>
                            <td>
                              <span class="badge <%=datas[i].badge %>"  style="padding: 5px;"><%=datas[i].status %></span>
                            </td>
                          </tr>
                        <% } %>
                    </tbody>
                  </table>
                <% } else {%>
                  <p>Nenhuma reserva</p>
                <% } %>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
              </div>
              <!-- /.card-footer-->
            </div>
            <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Meus dados</h3>
  
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <strong>&#8722</strong>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  Todos os dados do cliente
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                </div>
                <!-- /.card-footer-->
              </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer text-center">
    <div class="float-right d-none d-sm-block">
      <b>Versão</b> 1.0
    </div>
    <strong>Desenvolvido por <a href="https://www.standbyte.com.br" target="_blank">Standbyte Informática</a>.</strong>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="jquery/login/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="jquery/login/bootstrap.bundle.min.js"></script>
<!-- overlayScrollbars -->
<script src="jquery/admin/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="jquery/login/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<!--<script src="jquery/admin/demo.js"></script>-->
</body>
</html>
