<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DUO Eventos | Administrador</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../../css/login/all.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="../../../css/admin/OverlayScrollbars.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../../css/login/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="../../../img/home/logo_white.png" alt="DUO Logo" class="brand-image" style="opacity: .8">
      <span class="brand-text font-weight-light">Administrador</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block">
            <%= name %>
            <%= firstname %>
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/admin" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Página inicial
                </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/painel" class="nav-link">
                <i class="nav-icon fas">&#8863</i>
                <p>
                    Painel Cliente
                </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/reserves" class="nav-link">
                <i class="nav-icon fas">📆</i>
                <p>
                    Reservas
                </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/values" class="nav-link">
                <i class="nav-icon fas">&#36</i>
                <p>
                    Valores
                </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/users" class="nav-link">
              <i class="nav-icon fas">👤</i>
              <p>
                Usuários
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/logout" class="nav-link">
                <p>
                  Sair
                </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Valores</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Por dia da semana</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <strong>&#8722</strong>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <form action="/admin/edit/value/monday" method="post">
                  <label for="monday" class="form-label">Segunda-feira:</label>
                  <div class="row">
                    <input type="number" name="monday" id="monday" class="form-control form-control-sm col-3">
                    <p style="color: #0000005e; padding-left: 5px;">R$: <%= values[0].monday %>,00</p>
                  </div>
                  <button class="btn btn-primary btn-sm" type="submit" style="margin: 5px;">Alterar</button>
                </form>
  
                <form action="/admin/edit/value/tuesday" method="post">
                  <label for="tuesday" class="form-label">Terça-feira:</label>
                  <div class="row">
                    <input type="number" name="tuesday" id="tuesday" class="form-control form-control-sm col-3">
                    <p style="color: #0000005e; padding-left: 5px;">R$: <%= values[0].tuesday %>,00</p>
                  </div>
                  <button class="btn btn-primary btn-sm" type="submit" style="margin: 5px;">Alterar</button>
                </form>
  
                <form action="/admin/edit/value/wednesday" method="post">
                  <label for="wednesday" class="form-label">Quarta-feira:</label>
                  <div class="row">
                    <input type="number" name="wednesday" id="wednesday" class="form-control form-control-sm col-3">
                    <p style="color: #0000005e; padding-left: 5px;">R$: <%= values[0].wednesday %>,00</p>
                  </div>
                  <button class="btn btn-primary btn-sm" type="submit" style="margin: 5px;">Alterar</button>
                </form>
  
                <form action="/admin/edit/value/thursday" method="post">
                  <label for="thursday" class="form-label">Quinta-feira:</label>
                  <div class="row">
                    <input type="number" name="thursday" id="thursday" class="form-control form-control-sm col-3">
                    <p style="color: #0000005e;  padding-left: 5px;">R$: <%= values[0].thursday %>,00</p>
                  </div>
                  <button class="btn btn-primary btn-sm" type="submit" style="margin: 5px;">Alterar</button>
                </form>
  
                <form action="/admin/edit/value/friday" method="post">
                  <label for="friday" class="form-label">Sexta-feira:</label>
                  <div class="row">
                    <input type="number" name="friday" id="friday" class="form-control form-control-sm col-3">
                    <p style="color: #0000005e;  padding-left: 5px;">R$: <%= values[0].friday %>,00</p>
                  </div>
                  <button class="btn btn-primary btn-sm" type="submit" style="margin: 5px;">Alterar</button>
                </form>
  
                <form action="/admin/edit/value/saturday" method="post">
                  <label for="saturday" class="form-label">Sábado:</label>
                  <div class="row">
                    <input type="number" name="saturday" id="saturday" class="form-control form-control-sm col-3">
                    <p style="color: #0000005e;  padding-left: 5px;">R$: <%= values[0].saturday %>,00</p>
                  </div>
                  <button class="btn btn-primary btn-sm" type="submit" style="margin: 5px;">Alterar</button>
                </form>
  
                <form action="/admin/edit/value/sunday" method="post">
                  <label for="sunday" class="form-label">Domingo:</label>
                  <div class="row">
                    <input type="number" name="sunday" id="sunday" class="form-control form-control-sm col-3">
                    <p style="color: #0000005e;  padding-left: 5px;">R$: <%= values[0].sunday %>,00</p>
                  </div>
                  <button class="btn btn-primary btn-sm" type="submit" style="margin: 5px;">Alterar</button>
                </form>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
              </div>
              <!-- /.card-footer-->
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Por temporada</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <strong>&#8722</strong>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col mb-12">
                    <form action="/admin/value_temp" method="post">
                      <label for="init" class="form-label">De:</label>
                      <input required type="date" name="init" id="init" class="form-control form-control-sm col-6">
                    
                      <label for="finish" class="form-label">Até:</label>
                      <input required type="date" name="finish" id="finish" class="form-control form-control-sm col-6">
                    
                      <label for="value" class="form-label">Valor:</label>
                      <input required type="number" name="value" id="value" class="form-control form-control-sm col-6">
                      <br>
                      <button type="submit" class="btn btn-sm btn-primary">Adicionar</button>
                    </form>
                  </div>
                  <div class="col mb-12">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">De</th>
                          <th scope="col">Até</th>
                          <th scope="col">Valor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>12/12/2023</td>
                          <td>25/12/2023</td>
                          <td>R$:40000,00</td>
                        </tr>
                        <tr>
                          <td>12/12/2023</td>
                          <td>25/12/2023</td>
                          <td>R$:40000,00</td>
                        </tr>
                        <tr>
                          <td>12/12/2023</td>
                          <td>25/12/2023</td>
                          <td>R$:40000,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
              </div>
              <!-- /.card-footer-->
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Por data</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <strong>&#8722</strong>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <form action="/admin/value_date" method="post">
                  <label for="date" class="form-label">Data:</label>
                  <input required type="date" name="date" id="date" class="form-control form-control-sm col-3">

                  <label for="value" class="form-label">Valor:</label>
                  <input required type="number" name="value" id="value" class="form-control form-control-sm col-3">
                  <br>
                  <button type="submit" class="btn btn-sm btn-primary">Adicionar</button>
                </form>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
              </div>
              <!-- /.card-footer-->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer text-center">
    <div class="float-right d-none d-sm-block">
      <b>Versão</b> 1.0
    </div>
    <strong>Desenvolvido por <a href="https://www.standbyte.com.br" target="_blank">Standbyte Informática</a>.</strong>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../../jquery/login/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../../jquery/login/bootstrap.bundle.min.js"></script>
<!-- overlayScrollbars -->
<script src="../../../jquery/admin/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="../../../jquery/login/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<!--<script src="jquery/admin/demo.js"></script>-->
</body>
</html>
